@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --custom-primary: #0B4F59;
  --custom-secondary: #E8F8FB;
  --custom-gray: #667085;
}

.card-icon {
  width: 36px;
  height: 36px;
}
.rounded-lg {
  border-radius: 12px;
}
.lead-card {
  width: 100%; 
  max-height: 500px;
}
.search-position{
  top: 12px;
  left: 12px;
}
.padding-left-4 {
  padding-left: 38px;
}
.btn-custom {
  background-color: #E8F8FB; 
  color: #0B4F59;
  border: none;
}
.table-active {
  --bs-table-bg-state: #E8F8FB;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-bg-state: #E8F8FB;
}



.table>:not(caption)>*>* {
  padding: 1rem;
  font-weight: 500;
}


.nav-item span {
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.nav-item .active {
  border-bottom: 2px solid #0B4F59; /* Bootstrap primary color */
  font-weight: normal;
}
